/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* LANDING PAGE BASE STYLES
/*******************************************/

.body{
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.4;
}
.benefits{
  background-color: #f0efef;
  padding: 40px 200px 40px 40px;
}
.benefits h1{
  font-weight: 550px;
  font-size: 25px;
  color: #033048;
}
.benefits p,ul{
  font-size: 16px;
  font-weight: 400px;
  color: #606161;
  list-style-type: disc;
}
.benefits ul{
  padding-left: 40px;
}
.quote {
  background-image: url("../images/testimonial_bg.jpg");
  color: white;
  text-align: center;
  padding: 40px 150px 40px 150px;
}
.quote blockquote{
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}
.quote p{
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
}
.bottombar{
  background-color: #f9e42e;
  padding: 20px 150px 20px 150px;
}
.bottombar button{
  background-color: #033048;
  color: white;
  margin: 0 auto;
  display: block;
  padding: 7px 45px 7px 45px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  border-width: 0;
}

/******************************************
/* LANDING PAGE LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;
  height: 700px;
}
.header {
  background-image: url("../images/header_bg.jpg");
  background-position: center;
  background-repeat: repeat-x;
  width: auto;
  margin: auto;
  height: 350px;
  font-size: 45px;
  font-weight: 200px;
  padding: 10px 40px 10px 40px;
}
.header h1{
  font-weight: 700px;
  color: white;
  font-size: 30px;
}
.header h2{
  font-size: 30px;
  color: white;
  font-weight: 600px;
  text-align: center;
}
.header button{
  background-color: #f9e42e;
  color: #033048;
  margin: 0 auto;
  display: block;
  padding: 7px 35px 7px 35px;
  font-weight: 700px;
  font-size: 14px;
  border-radius: 5px;
  border-width: 1px;
}
.footer{
  background-color: #121212;
  text-align: center;
  float: center;
  padding: 40px 150px 40px 150px;
}
.footer p{
  color: white;
  font-size: 9px;
}
.footer h1{
  font-weight: 700px;
  color: #f9e42e;
  font-size: 24px;
}
#Twitter{
  margin: 21px;
}
#Facebook{
  margin: 21px;
}

/******************************************
/* Relaxr Blog Style
/*******************************************/

/* Center the container */
.container2 {
  width: 960px;
  margin: auto;
  height: 700px;
}
header {
  background-color: #033048;
  width: 100%;
  height: 120px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700px;
  display: block;
  padding-top: 30px;
}
header h2 {
  text-align: right;
  color: #f9e42e;
  font-weight: 350px;
  font-size: 20px;
  padding-bottom: 200px;
}
.content {
  height: 900px;
  width: 700px;
  border: 1px solid black;
  float: left;
  margin-right: 10px;

}

.content h1 {
  text-align: left;
  font-weight: 350px;
  font-size: 25px;

}
.aside {
  height: 900px;
  width: 250px;
  border: 1px solid black;
  float: left;
  font-weight: 150px;
  font-size: 25px;
}
.aside img {
  height: 300px;
  width: 150px;
  border: 1px solid red;
  margin: 30px;
}

.aside p{

font-weight: 350px;
font-size: 15px;

}

.blogbottombar {
  background-color: #f9e42e;
  padding: 30px;
  clear: left;
}

.blogbottombar button {
  background-color: #033048;
  color: white;
  margin: 0 auto;
  display: block;
  padding: 7px 45px 7px 45px;
  font-weight: 700px;
  font-size: 12px;
  border-radius: 5px;
  border-width: 0;
}

footer {
  float: center;
  width: 100%;
  height: 120px;
  background-color: black;
  text-align: center;
}

footer p{
  color: white;
  font-size: 9px;
}

footer h1{
  font-weight: 700px;
  color: #f9e42e;
  font-size: 24px;
}
